<% if signed_in? %>
	<div class="row">
		<aside class="span4">
		<section>
		<%= render 'shared/user_info' %>
		</section>
		<section>
		<%= render 'shared/stats' %>
		</section>
		</aside>
	</div>
<% else %>
	<div class="row">
		<div class="span8">
			<div class="center hero-unit">
				<h1>Consultation Service</h1>

				<h2>
					for <a href="http://www.tetracom.eu/" target="_blank">Technology Transfer in Computing Systems</a>.
				</h2>

				<%= link_to image_tag("tetra.jpg", alt: "TETRA"), 'http://www-tetracom.iss.rwth-aachen.de/' %>
			</div>
		</div>

		<div class="span4">
			<div class="hero-unit">
				<p><%= link_to "Create account", signup_path, class: "btn btn-large btn-block btn-primary" %></p>
				<p><%= link_to "User sign in", signin_path, class: "btn btn-large btn-block btn-success" %></p>
			</div>
		</div>
	</div>
<% end %>
