= simple_form_for :message, url: [:reply, conversation] do |f|
  = f.input :subject
  = f.input :body
  .form-actions
    = submit_tag 'Send', type: :submit, class: 'btn btn-primary'
    = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'
