= simple_form_for :conversation, url: :conversations do |f|
  = f.hidden_field :recipient_id, value: @recipient_id
  = f.input :subject
  = f.input :body
  .form-actions
    = submit_tag 'Send', type: :submit, class: 'btn btn-primary'
    = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'
