%h1= conversation.subject
%table{:class => "table table-striped"}
    %tr
        %th{:width => "20%"} Recipient
        %th{:width => "30%"} Subject
        %th{:width => "30%"} Body
        %th{:width => "20%"} Date & Time
    = content_tag_for(:tr, conversation.receipts_for(current_user)) do |receipt|
        - message = receipt.message
        - recipient = message.recipients.select{|recipient| recipient.name != message.sender.name}.first
        %td= current_user?(recipient)||recipient.show_name==true ? recipient.name : current_user.admin? ? recipient.name+"(user set hidden)" : "Name hidden (#{recipient.id})"
        %td= message.subject
        %td= message.body
        %td= message.created_at
%br
= render 'messages/form', conversation: conversation
