<%= render 'shared/error_messages', object: f.object %>

<table width="100%">
	<col width="95">
	<col width="5">
	<tr>
		<td>
			<%= f.label :name %>
			<%= f.text_field :name %>
		</td>
		<td>
			<%= f.check_box :show_name %>
			Public
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :email %>
			<%= f.text_field :email %>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :phone %>
			<%= f.text_field :phone %>
		</td>
		<td>
			<%= f.check_box :show_phone %>
			Public
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :affiliation %>
			<%= f.text_field :affiliation %>
		</td>
		<td>
			<%= f.check_box :show_affiliation %>
			Public
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :expertise, "Expertise (separate each item by comma; for normal user, keep this list empty)" %>
			<%= f.text_field :expertise %>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :password %>
			<%= f.password_field :password %>
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<%= f.label :password_confirmation, "Confirm Password" %>
			<%= f.password_field :password_confirmation %>
		</td>
		<td>
		</td>
	</tr>
</table>
