<% provide(:title, 'All users') %>
<h1>
	<%= User.count %> users in total, 
	<%= User.count(:all, :conditions => "expertise<>''") %> are experts.
</h1>

<p>Search by expertises:</p>
<%= form_tag(users_path, :method => "get", id: "search-form") do %>
	<%= text_field_tag :search, params[:search], placeholder: "one name or expertise at a time" %>
	<%= submit_tag "Search", :name => nil %>
<% end %>

<h2>
	<%= @users.count %> results returned.
	<%= link_to "Reset", users_path %>.
</h2>

<%= will_paginate %>

<table class="table table-striped">
	<%= render @users %>
</table>

<%= will_paginate %>

<small>
	Please send suggestions for improvement or reports of inappropriate use to: <a href="mailto:thomasccp@msn.com" target="_top">thomasccp@msn.com</a>.
</small>
